{{> preloader}}
 <section id="blog" class="blog">
    <div class="contain">
      <div class="containt-wrapper">
        <div class="blog-title">
          <h1>Create Blog Post</h1>
        </div>
        <div class="form-control">
          <form action="/addBlog" method="post" class="blog-form" enctype="multipart/form-data">
            <label for="title">Title</label><br />
            <input required class="input-form" type="text" id="title" name="title" /><br />
            <label for="content">Content</label><br />
            <textarea required class="input-form" name="content" id="content" cols="30" rows="10"></textarea><br />
            <div class="upload-wrapper">
              <label for="image-upload">Upload Image</label><br />
              <div class="input-container">
                <div class="file-img">
                  <label for="image-upload">
                    <img style="margin-right: 10px" width="25px" src="   /img/svg/plus.svg" alt="" />
                  </label>
                  <input type="file" id="image-upload" class="upload-input" accept="image/*" name="image" title=" " />
                </div>
                {{!-- <img class="wide-file" style="margin-right: 10px" width="25px"
                  src="/img/svg/attachment-attach-svgrepo-com.svg" alt="" /> --}}
              </div>
            </div>
            <button class="btn-submit">Submit</button>
            {{!-- <button onclick="addBlog(event)" class="btn-submit">Submit</button> --}}
          </form>
        </div>
      </div>
  </section>