<!-- PROFILE -->
{{> preloader}}
<section id="profile">
  
  <div class="contain">
    <div class="containt-wrapper">
      <div class="desc">
        <h4 class="fw">Hello, I'm Nur Muhammad Arofiq</h4>
        <p>
          Welcome to my personal page! I’m a passionate in Fullstack web
          developer. Here, you can learn more about me, connect with me on
          social media, or download my CV. Let’s connect and collaborate!
        </p>
        <div class="btn-me">
          <a href="mailto:sarofiqs@gmail.com" target="_blank">
            <button>Contact</button>
          </a><br />
          <a class="cv" href="/img/cv.jpg" download="CV_Arofiq.jpg"><span
            >download CV </span><img
              width="5%"
              src="/img/svg/download.svg"
              alt=""
            /></a>
        </div>
        <div class="icon">
          <a href="https://github.com/Fiqsss" target="_blank"><img
              src="/img/sosmed/git.svg"
              alt=""
            /></a>
          <a href="https://www.instagram.com/aro_fiqs/" target="_blank"><img
              src="/img/sosmed/insta.svg"
              alt=""
            /></a>
          <a href="https://www.tiktok.com/@arofiqsss" target="_blank"><img
              src="/img/sosmed/tiktok.svg"
              alt=""
            /></a>
          <a href="https://www.linkedin.com/in/arofiqs/" target="_blank"><img
              src="/img/sosmed/linkid.svg"
              alt=""
            /></a>
        </div>
      </div>
      <div class="cart-wrapper">
        <div class="cart">
          <div class="cart-body">
            <div class="foto"></div>
            <h4>Nur Muhammad Arofiq</h4>
            <p>Fullstack Developer</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END PROFILE -->